.signin_container {
  height: 100vh;
  text-align: center;
}
.signin_heading {
  font-size: 20px;
  margin-bottom: 20px;
}
.form_box {
  display: flex;
  align-items: center;
  gap: 0px;
  padding: 0px;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-bottom: 20px !important;
  width: 40vw !important;
}
.MuiInputLabel-root:hover {
  color: blue !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: 1px solid gray !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid black !important;
}
.F-box {
  width: 20vw;
  margin-left: 310px;
  margin-top: 20px;
  font-size: 13px;
}
.F-password {
  color: black;
}
.F-password:hover {
  color: gray;
}
.terma_condation_section {
  margin-top: 20px;
  font-size: 10px;
  text-align: left;
  width: 40vw;
  margin-left: 30%;
}
a{
  text-decoration: underline;
}
.Btn-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.sign_btn {
  margin-top: 25px;
}
.enable-btn {
  color: white;
  font-size: 15px;
  box-shadow: none;
  width: 37vw;
  height: 8vh;
  border: 1px solid;
  border-radius: 20px;
  border-width: 1px;
  background-color: black;
}
.disable-btn {
  color: gray;
  font-size: 15px;
  box-shadow: none;
  width: 40vw;
  height: 8vh;
  border: 1px solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
  border-color: rgb(233, 223, 223);
}
.error-Etext {
  color: red;
  font-size: 12px;
  margin-right: 27vw;
}
.error-Ptext {
  color: red;
  font-size: 12px;
  margin-right: 21vw;
}
.Create-btn:hover {
  border-color: black;
}
.Create-btn {
  font-size: 15px;
  color: black;
  background-color: white;
  border-color: rgb(233, 223, 223);
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 20px;
  width: 40vw;
  height: 8vh;
}

/* Forgot Password Style */
.Forgot_container {
  height: 100vh;
  margin-left: 30%;
}
.R-heading {
  margin-bottom: 20px;
  font-weight: 200;
}
.Enter-deatils {
  margin-bottom: 20px;
  font-weight: 100;
}
.Reset_btn {
  margin-top: 30px;
}
.Back-btn-box {
  margin-bottom: 30px;
}
.Back-btn {
  font-size: 15px;
  color: black;
  background-color: white;
  border-color: rgb(233, 223, 223);
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 20px;
  width: 40vw;
  height: 8vh;
}
.Back-btn-box :hover {
  border-color: black;
}
