.Blog-box {
  margin: 120px 320px 40px 65px;
  font-family: Poppins;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.blog-container1 {
  display: flex;
}
.Blog1 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  border-radius: 30px;
}
.Blog-img {
  width: 360px;
  height: 205px;
  margin: 0 0 20px;
  border-radius: 30px;
}
.Nov-2022-by-Neu {
  width: 210px;
  height: 18px;
  margin: 20px 194px 10px 0;
  padding-left: 1%;
  opacity: 0.5;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.35px;
  color: #000;
}
.The-worlds-healthie {
  width: 380px;
  height: 117px;
  padding-left: 1%;
  /* margin: 10px 0 5px; */
  font-family: Poppins;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
.A-new-report-finds-I {
  width: 380px;
  height: 52px;
  margin: 15px 0px 0px 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000;
  padding-left: 1%;
}

.Blog2 {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
  border-radius: 30px;
}
.How-sunken-basketbal {
  width: 380px;
  height: 156px;
  margin: 10px 0 5px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-left: 1%;
}
.The-city-wants-to-us {
  width: 380px;
  height: 52px;
  margin: 5px 0 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000;
  padding-left: 1%;
}
.Blog3 {
  display: flex;
  flex-direction: column;
  /* margin-left: 10px; */
  border-radius: 30px;
}
.As-drought-chokes-Mi {
  width: 380px;
  height: 156px;
  margin: 10px 0 5px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-left: 1%;
}
.With-no-rain-forecas {
  width: 380px;
  height: 52px;
  margin: 5px 0 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000;
  padding-left: 1%;
}
.blog-container2 {
  display: flex;
  padding-top: 20px;
}
.Blog4 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  border-radius: 30px;
}
.million-tons-of {
  width: 385px;
  height: 117px;
  padding-left: 0px;
  margin: 10px 0 5px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.Not-even-water-bottl {
  width: 380px;
  height: 52px;
  margin: 5px 0 0;
  padding-left: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000;
}
.Blog5 {
  display: flex;
  flex-direction: column;
  /* margin-left: 50px; */
  border-radius: 30px;
}
.Idaho-cobalt-mine-is {
  width: 380px;
  height: 117px;
  padding-left: 0px;
  margin: 10px 0 5px;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.A-new-venture-near-S {
  width: 380px;
  height: 52px;
  margin: 5px 0 0;
  font-size: 16px;
  padding-left: 0px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000;
}
.Blog6 {
  display: flex;
  flex-direction: column;
  /* margin-left: 50px; */
  border-radius: 30px;
}
.Disaster-debris-is-p {
  width: 380px;
  height: 117px;
  margin: 10px 0 5px;
  font-size: 28px;
  padding-left: 0px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.Composting-could-be {
  width: 380px;
  height: 26px;
  margin: 5px 0 0;
  padding-left: 0px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000;
}
.Readmore-box {
  margin: 35px 40px 55px;
  padding: 17px 556px 16px 558px;
  border-radius: 0px 20px;
  background-color: #ededed;
}
.Readmore-button {
  padding: 0px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #000;
  background-color: #ededed;
}
/* Responsive Mobile */
@media (max-width: 600px) {
  .Blog-box {
    margin: 128px 0 40px 40px;
  }

  .blog-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

  }
  .Blog2 {
    margin-left: 50px;
  }
  .Blog3 {
    margin-left: 50px;
  }
  .blog-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 30px;
    gap: 30px;
  }
  .Blog5 {
    margin-left: 50px;
  }
  .Blog6 {
    margin-left: 50px;
  }
  .Readmore-box {
    margin: 0px;
    padding: 0px;
    display: none;
  }
}
/* Tab */
@media (max-width:998px) {
  
}
