.mygarage-container {
  padding: 20vh 0px;
  max-width: 81vw;
  margin: 0px auto;
}
.Top-box {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.Heading-contant1 {
  display: flex;
  flex-direction: column;
}
.My-Garage {
  padding-left: 0px;
  font-size: 40px;
  font-style: normal;
}
.Details-of-all-of-yo {
  padding-left: 0px;
  font-size: 13px;
  color: gray;
  font-style: normal;
}
.Heading-contant2 {
  display: flex;
  align-items: center;
}
.heading-box {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.Hey-good-morning {
  padding-left: 0px;
  font-size: 12px;
  color: gray;
  font-style: normal;
}
.Eva-Lee {
  padding-left: 60px;
  font-size: 15px;
  font-style: normal;
}
.image-box img {
  width: 50px;
}
.Bottom-box {
  display: flex;
  height: 727px;
  margin: 35px 0px 0px 0px;
  border-radius: 0px 35px;
  border: solid 1px #e2e2e2;
  background-color: antiquewhite;
}
.Left-div {
  background-color: #e4f8e1;
  border-radius: 0px 0px 0px 35px;
}
.css-aym9vq-MuiButtonBase-root-MuiTab-root {
  color: black !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 20px !important;
  padding: 0px !important;
}
.css-aym9vq-MuiButtonBase-root-MuiTab-root > .MuiTab-iconWrapper {
  width: 20px;
  height: 20px;
}
.css-aym9vq-MuiButtonBase-root-MuiTab-root > .MuiTab-iconWrapper {
  width: 20px;
}
.css-lfwcke-MuiTabs-flexContainer {
  padding-left: 30px;
  align-items: flex-start !important;
}
.css-10d9dml-MuiTabs-indicator {
  background-color: #58da71 !important;
}
.Logout {
  display: flex;
  color: gray;
  gap: 10px;
  padding-bottom: 60px;
  padding-left: 20px;
  margin-top: 350px;
}
.right-arrow {
  width: 27px;
  height: 24px;
}
.Logout p {
  font-size: 17px;
  padding: 0px;
}
.Logout-txt {
  color: gray;
}
.vehicles-box {
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.My-Vehicles {
  font-size: 25px;
  font-style: normal;
  padding: 0px;
}
.right-tab {
  display: flex;
  flex-direction: column;
}
.vehicles-box1 {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 40vh;
  width: 61vw;
  margin-left: 30px;
}
.first-box {
  display: flex;
  margin-top: 20px;
}
.vehicles-logo {
  /* background: antiquewhite; */
  width: 8vw;
  height: 14vh;
  margin-left: 20px;
  margin-top: 20px;
  align-items: center;
  display: flex;
}
.color-box {
  border-radius: 50%;
  border: solid 2px #58da71;
  width: 2vw;
  height: 3vh;
}
.vehicles-logo img {
  width: 5vw;
  border-radius: 50%;
  border: 10px solid;
  border-color: #58da71;
}
.deatils-box {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 25px;
  height: 12vh;
}
.Mercedes-Benz {
  font-size: 27px;
  font-style: normal;
  padding: 0px;
}
.-Petrol-A-Cl {
  font-size: 18px;
  font-style: normal;
  color: gray;
  padding: 0px;
}
.SB-box {
  border-radius: 4px;
  border: solid 2px #000;
  background-color: #ffef04;
  margin-top: 35px;
  margin-left: 20px;
  height: 4vh;
  width: 6vw;
  text-align: center;
}
.SB71-HJN {
  font-size: 15px;
  font-style: normal;
  padding: 0px;
  font-weight: 600;
}
.num-box {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-top: 20px;
}
.tCO2e {
  padding: 0px 55px;
  font-size: 24px;
  font-style: normal;
}
.Trees-Planted {
  padding: 0px;
  font-size: 24px;
  font-style: normal;
}
hr {
  background-color: #e2e2e2;
  margin: 30px;
}
.second-box {
  display: flex;
  margin-left: 25px;
}
.num {
  padding: 0px;
  font-size: 15px;
  font-style: normal;
}
.sb-col-1 {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}
.Total-Mileage {
  font-size: 14px;
  font-style: normal;
  padding: 0px;
  color: gray;
}

.sb-col-2 {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-right: 90px;
}
.No-Impact {
  font-size: 14px;
  font-style: normal;
  padding: 0px;
  color: gray;
}
.Hr-1 {
  background-color: #58da71;
  margin: 7px;
  width: 2px;
  height: 40px;
}

.sb-col-3 {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-right: 90px;
}
.Single-Impact {
  font-size: 14px;
  font-style: normal;
  padding: 0px;
  color: gray;
}
.Hr-2 {
  margin: 7px;
  width: 2px;
  height: 40px;
  background-color: #33c5ff;
}

.sb-col-4 {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-right: 90px;
}
.Double-Impact {
  font-size: 14px;
  font-style: normal;
  padding: 0px;
  color: gray;
}
.Hr-3 {
  margin: 7px;
  height: 40px;
  width: 2px;
  background-color: #6142ea;
}

.sb-col-5 {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
}
.Tripple-Impact {
  font-size: 14px;
  font-style: normal;
  padding: 0px;
  color: gray;
}
.vehicles-box2 {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 40vh;
  width: 61vw;
  margin-left: 30px;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .mygarage-container {
    padding: 10vh 0vh;
  }
  .Top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Heading-contant2 {
    display: flex;
    align-items: center;
    border: 2px solid #e2e2e2;
    width: 92vw;
    margin-left: -30px;
    gap: 190px;
  }
  .Bottom-box {
    margin-left: -40px;
    display: flex;
    height: 727px;
    border-radius: 0px;
    margin-top: 0px;
  }
}
