.Service-container{
    background-color: white;
    padding: 20vh 0px;
    /* max-width: 81vw; */
    margin-top: 90px;
    margin-left: 55px;
    margin-right: 55px;
    border: 1px solid #00000020;
    border-radius: 0px 40px;  
}
.Service-heading{
    display: flex;
    justify-content: space-between;
}
h1{
    padding: 0px ;
    padding-left: 20px;
}
.Service-btns{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.btn1{
    background-color: #2cd28d;
    border: 1px;
    padding: 10px 15px;
    border-radius: 0px 20px;
    font-size: 1.2vw;
    cursor: pointer;
}
.btn2{
    background-color: #2cd28d;
    border: 1px;
    padding: 10px 15px;
    border-radius: 0px 20px;
    font-size: 1.2vw;
    cursor: pointer;
}.btn3{
    background-color: #2cd28d;
    border: 1px;
    padding: 10px 15px;
    border-radius: 0px 20px;
    font-size: 1.2vw;
    cursor: pointer;
}
.Form-col{
    display: flex;
    padding: 50px 60px;
    justify-content: space-between;
}
.col-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col-1 .css-1869usk-MuiFormControl-root {
    min-width: 322px;
    margin: 0px;
}
.col-2{
    display: flex;
    flex-direction: column;
    padding-right: 85px;
}
.css-1869usk-MuiFormControl-root{
    min-width: 322px !important;
    margin: 0px;
}