.Service-container {
  background-color: white;
  padding: 15vh 0px;
  margin-bottom: 30px;
  margin-top: 90px;
  margin-left: 55px;
  margin-right: 55px;
  border: 1px solid #00000020;
  border-radius: 0px 40px;
}
.Service-heading {
  display: flex;
  justify-content: space-between;
}
h1 {
  padding: 0px;
  padding-left: 20px;
}
.Service-btns {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}
.btn1 {
  background-color: #2cd28d;
  border: 1px;
  padding: 10px 15px;
  border-radius: 0px 20px;
  font-size: 1.2vw;
  cursor: pointer;
}
.btn2 {
  background-color: #2cd28d;
  border: 1px;
  padding: 10px 15px;
  border-radius: 0px 20px;
  font-size: 1.2vw;
  cursor: pointer;
}
.btn3 {
  background-color: #2cd28d;
  border: 1px;
  padding: 10px 15px;
  border-radius: 0px 20px;
  font-size: 1.2vw;
  cursor: pointer;
}
.Form-col {
  display: flex;
  padding: 50px 0px;
  color: gray;
  /* justify-content: space-between; */
}
em {
  font-style: normal;
  color: gray;
  font-weight: normal;
}
.col-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}
.col-1 .css-1869usk-MuiFormControl-root {
  min-width: 322px;
  margin: 0px;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.Title {
  padding-left: 150px;
}
.Title-box {
  width: 295px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 0px 20px;
}
.Category {
  display: flex;
  gap: 10px;
  padding-left: 122px;
}
.Category .css-1869usk-MuiFormControl-root{
  min-width: 297px !important;
}
.Primary {
  display: flex;
  gap: 10px;
}
.col-2 {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  margin: 0px;
  gap: 15px;
}
.col-2 .css-1869usk-MuiFormControl-root {
  min-width: 265px;
  margin: 0px;
}
.col-2 .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 0px 20px;
}
.col-2.css-1869usk-MuiFormControl-root {
  min-width: 340px !important;
}
.Queue {
  display: flex;
  gap: 10px;
  padding-left: 90px;
}
.Assigned {
  display: flex;
  gap: 10px;
  padding-left: 53px;
}
.Channel {
  display: flex;
  gap: 10px;
  padding-left: 45px;
}
.Nature-box {
  display: flex;
  flex-direction: column;
}
.Nature-heading {
  padding-left: 55px;
  font-size: 20px;
}
.Two-colum{
    display: flex;
    color: gray;
}
.Nature-col-1 {
  padding-top: 20px;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Summary {
  display: flex;
  gap: 10px;
  padding-left: 2px;
}
.Summary textarea {
  width: 275px;
  color: gray;
  height: 40px;
  border-radius: 0px 20px;
  border-color: gray;
  border: 2px solid darkgray;
}
.Case {
  padding-left: 70px;
}
.Case select {
  color: gray;
  width: 22vw;
  height: 45px;
  border-radius: 0px 20px;
  border-color: gray;
  border: 2px solid darkgray;
}
.Suspension {
  display: flex;
  gap: 10px;
  padding-left: 62px;
}
.Suspension input {
  color: gray;
  width: 21vw;
  height: 45px;
  border-radius: 0px 20px;
  border-color: gray;
  border: 2px solid darkgray;
}
.Return {
  display: flex;
  gap: 10px;
  padding-left: 12px;
}
.Return input {
  color: gray;
  width: 21vw;
  height: 45px;
  border-radius: 0px 20px;
  border-color: gray;
  border: 2px solid darkgray;
}
.Characteristics select{
  color: gray;
  width: 22vw;
    height: 45px;
    border-radius: 0px 20px;
    border-color: gray;
    border: 2px solid darkgray;
}
.Respondent{
    padding-left: 109px;
}
.Respondent select{
    width: 22vw;
  color: gray;
  height: 45px;
    border-radius: 0px 20px;
    border-color: gray;
    border: 2px solid darkgray;
}
.Date-Allegend {
    display: flex;
    gap: 10px;
    padding-left: 82px;
}
.Date-Allegend input{
    width: 21vw;
  color: gray;
  height: 45px;
    border-radius: 0px 20px;
    border-color: gray;
    border: 2px solid darkgray;
}

.Nature-col-2 {
    padding-top: 20px;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Reported1 {
    display: flex;
    gap: 10px;
}
.Reported1 input{
    width: 21vw;
  color: gray;
  height: 45px;
    border-radius: 0px 20px;
    border-color: gray;
    padding: 0px 10px;
    border: 2px solid darkgray;
}
.Reported2{
    padding-left: 140px;
    padding-top: 20px;
}
.Reported2 select {
  color: gray;
  width: 22vw;
    height: 50px;
    border-radius: 0px 20px;
    border-color: gray;
    border: 2px solid darkgray;
}
.Complainanat {
    display: flex;
    gap: 10px;
    padding-left: 55px;
}
.Complainanat input{
  color: gray;
  width: 20vw;
    height: 45px;
    border-radius: 0px 20px;
    border-color: gray;
    padding: 0px 10px;
    border: 2px solid darkgray;
}
.Complainanat-Category {
    padding-left: 25px;
}
.Complainanat-Category select{
  color: gray;
  width: 22vw;
    height: 50px;
    border-radius: 0px 20px;
    border-color: gray;
    border: 2px solid darkgray
}
.Manager {
    padding-left: 80px;
}
.Manager select{
  color: gray;
  width: 22vw;
    height: 50px;
    border-radius: 0px 20px;
    border-color: gray;
    border: 2px solid darkgray
}
.Informal {
    padding-left: 60px;
}
.Informal select{
    width: 22vw;
  color: gray;
  height: 50px;
    border-radius: 0px 20px;
    border-color: gray;
    border: 2px solid darkgray
}
