.Home-Title {
  width: 50vw;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Help-nature-to-rever {
  padding: 0px;
  font-size: 39px;
  font-style: normal;
  display: flex;
  margin-top: 22%;
  margin-left: 20%;
  margin-right: 20%;
}
.Make-a-difference-by {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  margin-left: 145px;
  font-weight: normal;
}
.Make-your-Impact1 {
  background-color: #2cd28d;
  border: 1px;
  padding: 15px 0px;
  border-radius: 0px 20px;
  font-size: 1.2vw;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 350px;
}
.You-can-calculate {
  padding: 0px;
  font-style: normal;
  font-size: 13px;
  margin-left: 140px;
}
.Img-box{
  display: flex;
}
.car-img {
  transform: perspective(var(--e-transform-perspective,0)) rotate(var(--e-transform-rotateZ,0)) rotateX(var(--e-transform-rotateX,0)) rotateY(var(--e-transform-rotateY,0)) translate(var(--e-transform-translate,0)) translateX(var(--e-transform-translateX,0)) translateY(var(--e-transform-translateY,0)) scaleX(calc(var(--e-transform-flipX, 1) * var(--e-transform-scaleX, var(--e-transform-scale, 1)))) scaleY(calc(var(--e-transform-flipY, 1) * var(--e-transform-scaleY, var(--e-transform-scale, 1)))) skewX(var(--e-transform-skewX,0)) skewY(var(--e-transform-skewY,0));
  transform-origin: var(--e-transform-origin-y) var(--e-transform-origin-x);
  margin: 5em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  --e-transform-translateX: -312px;
  --e-transform-scale: 2;
}
.car-img img {
  width: 45vw;
  margin-top: -10px;
}
.side-img {
  overflow: hidden;
  margin: -25em 0em 0em -20em;
  --e-transform-translateX: 0px;
  --e-transform-translateY: 330px;
  --e-transform-scale: 2.2;
}

.side-img img {
  width: 100vw;
  vertical-align: middle;
  display: inline-block;
  
}
.middel-container {
  display: flex;
  background-color: #46FF6F1A;
  flex-direction: column;
  overflow: hidden;
  transition:  0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -18em;
  margin-bottom: 0em;
  padding: 15em 4em 5em 5em;

}
.bottom-text {
  text-align: center;
}

.How-it-works {
  font-size: 25px;
  font-style: normal;
}
.Three-col {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 100px;
}
.Calculate-box {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Calculate-box img {
  width: 5vw;
}
.Calculate-your-impact {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  width: 10vw;
}
.Enter-a-few-basic-de {
  padding: 0px;
  font-size: 14px;
  color: gray;
  font-style: normal;
}
.Monthly-box {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Monthly-box img {
  width: 5vw;
}
.Contribute-mothly-or {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  width: 14vw;
}
.You-can-choose-a-mon {
  padding: 0px;
  font-size: 14px;
  color: gray;
  font-style: normal;
  width: 23vw;
}
.Trees-box {
  gap: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Trees-box img {
  width: 5vw;
  gap: 15px;
}
.Check-planted-trees {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  width: 15vw;
}
.Instantly-check-how {
  padding: 0px;
  font-size: 14px;
  color: gray;
  font-style: normal;
  width: 24vw;
}
.Home-title2 {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
}
.How-your-contributio {
  font-size: 25px;
  font-style: normal;
  padding: 0px;
}
.These-are-rough-esti {
  font-size: 15px;
  color: gray;
  font-style: normal;
  padding: 0px;
}
.impact-box {
  border: 1px solid #e2e2e2;
  margin: 50px 100px 20px 100px;
  padding-bottom: 80px;
  border-radius: 0px 30px;
}
.headingbox {
  display: flex;
  padding: 35px 0px 0px 30px;
}
.carimg {
  width: 6vw;
}
.carimg img {
  width: 5vw;
}
.three-span {
  display: flex;
  flex-direction: column;
}
.Your-Car {
  font-size: 20px;
  font-style: normal;
  padding: 0px;
}
.Estimated-carbon-emi {
  font-size: 16px;
  color: gray;
  font-style: normal;
  padding: 0px;
}
.tCO2e-year {
  font-size: 16px;
  font-style: normal;
  padding: 0px;
}
.hr-line {
  margin: 20px 0px;
  height: 0px;
  background-color: #e2e2e2;
}
.hr-line:hover {
  background-color: #e2e2e2;
  height: 0px;
}
.bottombox {
  display: flex;
  justify-content: space-between;
}
.impact-box-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 110px;
  margin-top: 50px;
}
.impact-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.css-1aznpnh-MuiSlider-root {
  color: gray !important;
  height: 10px !important;
}
.css-6cwnna-MuiSlider-mark {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
.css-1tfve6q-MuiSlider-mark{
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  
}
.css-1gv0vcd-MuiSlider-track{
  background-color: #2cd28d !important;
}
.css-eg0mwd-MuiSlider-thumb{
  background-color: lightgreen !important;
}
.css-14pt78w-MuiSlider-rail {
  width: 103% !important;
}
.slider{
  /* color: aqua; */
}
.single{
  background-color: aqua;
}
.Impact-level {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
}
.contribution-div {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  gap: 20px;
}
.Your-contribution {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
}
.Two-btn {
  background-color: lightgray;
  border-radius: 0px 20px;
  width: 20vw;
  height: 8vh;
}
.btn-one {
  border-radius: 0px 20px;
  height: 8vh;
  width: 9vw;
  background-color: lightgray;
}
.btn-two {
  border-radius: 0px 20px;
  height: 7vh;
  width: 10.5vw;
  background-color: white;
}
.impact-box-2 {
  display: flex;
  flex-direction: column;
  margin-right: 130px;
  text-align: center;
  margin-top: 50px;
}
.Trees-planted {
  padding: 0px;
  font-size: 25px;
  font-style: normal;
  padding-bottom: 50px;
}
.Tree-img-box {
  padding-bottom: 50px;
  display: flex;
}
.Tree-img-1 {
  width: 10vw;
}
.Tree-img-2 {
  margin-top: -30px;
  margin-bottom: 30px;
  width: 10vw;
}
.Tree-img-3 {
  width: 10vw;
}
.Month {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  text-align: center;
}
.One-year {
  padding: 0px;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  color: gray;
}
.Make-your-Impact2 {
  width: 15vw;
  background-color: #2cd28d;
  border: 1px;
  padding: 20px 0px;
  border-radius: 0px 20px;
  font-size: 1.2vw;
  cursor: pointer;
  /* margin-top: 5px; */
  /* float: right; */
  margin-left: 78%;
}
.Last-box {
  height: 50vh;
  padding-bottom: 150px;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(252, 249, 249, 0.879);
}
.what-impact-div {
  padding-top: 80px;
  padding-bottom: 50px;
}
.What-impacts-do-we-m {
  font-size: 25px;
  font-style: normal;
  padding: 0px;
}
.Four-img {
  display: flex;
  gap: 50px;
  width: 70vw;
  margin-left: 200px;
  align-items: center;
  text-align: center;
}

.Img1 img {
  width: 7vw;
  float: right;
  padding-top: 30px;
  padding-left: 35px;
}
.Img2 img {
  width: 7vw;
  float: right;
  padding-top: 30px;
  padding-left: 35px;
}
.Img3 img {
  width: 7vw;
  float: right;
  padding-top: 30px;
  padding-left: 35px;
}
.Img4 img {
  width: 7vw;
  float: right;
  padding-top: 30px;
  padding-left: 35px;
}
.Img1 {
  width: 20vw;
  height: 28vh;
  border-radius: 0px 25px;
  background-color: #fcf5eb;
}
.Img1-span1 {
  margin-left: -55px;
  width: 107px;
}
.Reforestation-in-the {
  font-size: 15px;
  /* margin: 59px  0px 0px -125px; */
  font-style: normal;
  padding: 0px;
}
.Img2 {
  width: 20vw;
  height: 28vh;
  background-color: #e6f4fb;
  border-radius: 0px 25px;
}
.Img2-span2 {
  margin-left: -55px;
  width: 130px;
}
.Closing-the-loop-for {
  font-size: 15px;
  font-style: normal;
  padding: 0px;
}
.Img3 {
  width: 20vw;
  height: 28vh;
  background-color: #fcfaea;
  border-radius: 0px 25px;
}
.Img3-span3 {
  margin-left: -32px;
  width: 85px;
}
.Fuelling-the-Future {
  font-size: 15px;
  font-style: normal;
  padding: 0px;
}
.Img4 {
  width: 20vw;
  height: 28vh;
  background-color: #e9f9f1;
  border-radius: 0px 25px;
}
.Img4-span4 {
  margin-left: -40px;
  width: 86px;
}
.Planting-for-People {
  font-size: 15px;
  font-style: normal;
  padding: 0px;
}
.Find-out-more {
  padding-left: 45%;
  font-size: 20px;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.Details-box {
  padding: 40px 0px 0px 0px;
  display: flex;
  align-items: center;
}
.Arrow {
  cursor: pointer;
  color: black;
}
.Arrow img:hover {
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}
