.Home-Title {
  width: 50vw;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Help-nature-to-rever {
  padding: 0px;
  font-size: 39px;
  font-style: normal;
  display: flex;
  margin-top: 22%;
  margin-left: 20%;
  margin-right: 20%;
}
.Make-a-difference-by {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  margin-left: 145px;
  font-weight: normal;
}
.Make-your-Impact {
  background-color: #2cd28d;
  border: 1px;
  padding: 15px 0px;
  border-radius: 0px 20px;
  font-size: 1.2vw;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 350px;
}
.You-can-calculate {
  padding: 0px;
  font-style: normal;
  font-size: 13px;
  margin-left: 140px;
}
.Img-box {
  display: flex;
  background-color: rgb(226, 236, 233);
  flex-direction: column;
  height: 120vh;
}
.car-img {
  margin-top: -174px;
}
.car-img img {
  margin-left: -700px;
  width: 100vw;
  height: 80vh;
  /* max-width: 100%; */
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.side-img {
  margin-top: -850px;
  margin-left: 400px;
  overflow: hidden;
}
.side-img img {
  width: 81vw;
  height: 130vh;
  margin-left: 20px;
}

.How-it-works {
  font-size: 25px;
  font-style: normal;
 
}
.Three-col {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 100px;
}
.Calculate-box {
  display: flex;
  gap: 15px;
  flex-direction: column;
  /* background-color: #2cd28d; */
  text-align: center;
  align-items: center;
}
.Calculate-box img {
  width: 5vw;
}
.Calculate-your-impact {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  width: 10vw;
}
.Enter-a-few-basic-de {
  padding: 0px;
  font-size: 14px;
  color: gray;
  font-style: normal;
}
.Monthly-box {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Monthly-box img {
  width: 5vw;
}
.Contribute-mothly-or {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  width: 14vw;
}
.You-can-choose-a-mon {
  padding: 0px;
  font-size: 14px;
  color: gray;
  font-style: normal;
  width: 23vw;
}
.Trees-box {
  gap: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Trees-box img {
  width: 5vw;
  gap: 15px;
}
.Check-planted-trees {
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  width: 15vw;
}
.Instantly-check-how {
  padding: 0px;
  font-size: 14px;
  color: gray;
  font-style: normal;
  width: 24vw;
}
.Home-title2{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
}
.How-your-contributio{
  font-size: 20px;
  font-style: normal;
  padding: 0px;
}
.These-are-rough-esti{
  font-size: 15px;
  color: gray;
  font-style: normal;
  padding: 0px;
}
.impact-box{
 border: 1px solid gray;
}
.impact-box img{

}
.Your-car{

}
.Estimated-carbon-emi{

}
.tCO2e-year{

}