.main-container {
  padding: 8vh 0px;
  background-color: rgb(255, 255, 255);
  max-width: 81vw;
  margin: 0px auto;
}

.main-box {
  /* margin: 25px 109px; */
  border-radius: 0px 50px;
  /* margin-top: -90px; */
  border: 1px solid rgb(236 230 230);
  padding: 3%;
}
.heading {
  padding-top: 80px;
  padding-bottom: 40px;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 30px;
}
.sub-title {
  font-size: 1rem;
  padding-left: 5px;
  padding-top: 5px;
}
.Registration-box {
  padding: 25px 12px 10px;
  display: flex;
  gap: 20px;
}
button {
  background-color: #2cd28d;
  border: 1px;
  padding: 0px 15px;
  border-radius: 0px 20px;
  font-size: 1.2vw;
  /* font-weight: bold; */
  cursor: pointer;
}
.bottom-container {
  display: flex;
  flex-direction: column;
}
.line-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-line {
  min-width: 2%;
  border: 1px solid rgb(226, 226, 226);
}
.right-line {
  width: 100%;
  border-bottom: 2px solid rgb(226, 226, 226);
}
/* .text-div{

} */
.text-div p {
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding: 0rem 0.4rem;
}
.details {
  padding: 34px 5px;
  display: flex;
  align-items: center;
}
.details a {
  text-decoration: none;
  font-size: 16px;
  color: gray;
}
#custom-css-outlined-input {
  padding-right: 120px;
}
.arrow {
  padding: 0px 20px;
  font-size: 20px;
  color: gray;
}
.error-message{
  color: red;
  padding: 0px 25px;
  margin: 0px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .heading {
    padding-top: 45px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
  }
  .main-container {
    max-width: 100vw;
  }
  .main-box {
    border-radius: 0px;
    padding: 3%;
    text-align: center;
  }
  .Registration-box {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  button {
    padding: 15px 15px;
    font-size: 18px;
  }
  .bottom-container {
    align-items: center;
  }
  .line-box {
    display: flex;
  }
  .left-line {
    width: 20vh;
    border: 1px;
  }
  .right-line {
    width: 20vh;
    border: 1px;
  }
  .text-div {
    font-size: 1rem;

    padding: 0.2rem 0.2rem;
  }
  .details{
    padding: 34px 0px;
    font-size: 17px;
    
  }
  .arrow{
    padding: 0px 10px;
    
  }
}
@media (max-width:998px) {
  .main-container{
    padding-bottom: 308px;
  }
}
