.main-container2 {
  padding: 8vh 0px;
  background-color: rgb(255, 255, 255);
  max-width: 81vw;
  margin: 0px auto;
}
.heading2 {
  padding-top: 80px;
  padding-bottom: 40px;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  padding-left: 0px;
}
.main-box2 {
  border-radius: 0px 50px;
  border: 1px solid rgb(236 230 230);
  padding: 3%;
 
}
.details-box{
    padding-top: 25px;
}
.title2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 30px;
}
.sub-title2 {
  font-size: 1rem;
  padding-left: 5px;
  padding-top: 5px;
}
.Registration-box2 {
  padding: 25px 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.Registration-title {
  color: black;
  font-size: 16px;
  padding: 0px;
}
.Basic-title{
  color: black;
    font-size: 16px;
    padding: 0px 0px 0px 11px;
}
#custom-css-outlined-input{
  padding-right: 120px;
}

#demo-controlled-open-select-label{
  color: gray;
}
#demo-controlled-open-select{
  padding: 15px 150px;
  
}
.MuiOutlinedInput-notchedOutline {
  border-color: gray;
  border-width: 1px;
  border-radius: 0px 15px;
}

.MuiOutlinedInput-input {
  padding: 18px 155px;
  /* border-radius: 55px 78px; */
  border: 1px solid gray;
  border-radius: 0px 20px;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 0px 15px;
  font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    position: relative;
    cursor: text;
    position: relative;
}
em{
  font-style: normal;
  color: gray;
    font-weight: normal;
}
.col-1 .css-1869usk-MuiFormControl-root{
  min-width: 295px;
}
.col-1 .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 0px 20px;
}
.col-2 .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px 20px;
  
}
.Two-col{
  display: flex;
  align-items: center;
 
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: 20vw;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px 20px !important;
}
.Fuel-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}
.variant-box{
  padding-top: 30px;
}
.variant-heading{
  color: black;
  padding: 0px 0px 0px 9px;
  font-size: 16px;
}
.V-box .css-1869usk-MuiFormControl-root{
  min-width: 290px;
}
.V-box .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  border-radius: 0px 20px;
}
.Fuel-heading{
  color: black;
  padding: 0px 0px 0px 9px;
  font-size: 16px;
}
.Two-col-1{
  display: flex;
  align-items: center;
}
.Two-col-2{
  display: flex;
  align-items: center;
}
.F-col1 .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 30vw;
}
.F-col2 .css-1kpyfua-MuiInputBase-root {
  width: 15vw;
}
.F-col2 .css-1kpyfua-MuiInputBase-root .MuiInputBase-input {
  border-radius: 0px 20px;
  padding: 18px 0px 18px 15px
}
.btn{
  padding-top: 30px;
}
.impact-btn{
  background-color: #2cd28d;
    border: 1px;
    padding: 15px 33px;
    border-radius: 0px 20px;
    font-size: 1.2vw;
    cursor: pointer;
}
.line-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}
.details {
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
}
