.main-container2 {
  padding: 8vh 0px;
  background-color: rgb(255, 255, 255);
  max-width: 81vw;
  margin: 0px auto;
}
.heading2 {
  padding-top: 80px;
  padding-bottom: 40px;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  padding-left: 0px;
}
.main-box2 {
  border-radius: 0px 50px;
  border: 1px solid rgb(236 230 230);
  padding: 3%;
}
.title2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 30px;
}
.sub-title2 {
  font-size: 1rem;
  padding-left: 5px;
  padding-top: 5px;
}
.Registration-box2 {
  padding: 25px 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.Registration-title {
  color: black;
  font-size: 16px;
  padding: 0px;
}
#custom-css-outlined-input{
  padding-right: 120px;
}

#demo-controlled-open-select-label{
  color: gray;
}
#demo-controlled-open-select{
  padding: 15px 150px;
  
}
.MuiOutlinedInput-notchedOutline {
  border-color: gray;
  border-width: 1px;
  border-radius: 0px 15px;
}

.MuiOutlinedInput-input {
  padding: 18px 155px;
  /* border-radius: 55px 78px; */
  border: 1px solid gray;
  border-radius: 0px 20px;
}