.main-container{
    background-color: aqua;
    border: 2px solid black;
    margin: -65px 109px;
    border-radius: 20px 5px;
}
.heading {
    height: 300px;
    padding: 0px 110px;
    font-size: 53px;
}
.title{
    font-size: larger;
}
.sub-title{
    font-size: medium;
}
.Registration-box{
    background-color: lightblue;
}
button{
    background-color: #2cd28d;;
}
.linear-box{
    background-color: burlywood;
}
.left-linear{
    background-color:yellow;
    max-width: 20px;
}
.right-liner{
    background-color: chartreuse;
    max-width: 30px;
}
.details p{
    color: red;
}