.main-container {
  margin: 25px 109px;
  border-radius: 0px 50px;
  margin-top: -90px;
  border: 1px solid rgb(236 230 230);
  padding: 40px 0px;
}
.heading {
  height: 300px;
  padding: 0px 110px;
  font-size: 50px;
  font-weight: lighter
}
.title {
  font-size: xx-large;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
}
.sub-title {
  font-size: large;
  padding-left: 40px;
  padding-top: 5px;
}
.Registration-box {
  /* background-color: lightblue; */
  padding: 25px 40px;
  display: flex;
  gap: 20px;
}
button {
  background-color: #2cd28d;
  border: 1px;
  padding: 0px 15px;
  border-radius: 0px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.line-box {
  display: flex;
  align-items: center;
}
.left-line {
  color: black;
  width: 5vh;
  padding-left: 40px;
}
.right-line {
  color: black;
  width: 135vh;
  padding-left: 0px;
}
.text-div {
  padding: 0px 7px;
}
.details {
  padding: 34px 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.details a{
  text-decoration: none;
  color: gray;
}
#custom-css-outlined-input {
  padding-right: 120px;
}
.arrow{
  padding: 0px 20px;
  font-size: 20px;
  color: gray;
}