.Main-container {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
}
.heading-box1 {
  /* width: 20%; */
  width: 1440px;
  height: 3854px;
  background-color: #fff;
}
.heading-box1 img {
  /* margin-top: 185px;
  max-width: 100%;
  height: auto; */
  
    width: 510px;
    height: 575.7px;
  
}
.main-heading {
  font-size: 2.8vw;
  text-align: center;
  font-weight: normal;
}
.img-box1 {
  display: flex;
  padding: 6px 342px;
}
.img-box2 {
  display: flex;
  padding-left: 65%;
}
.img-box1 img {
  width: 4vw;
}
.img-box2 img {
  width: 4vw;
}
.sub-heading {
  font-size: 2.4vw;
  font-style: italic;
  margin: 4px 313px;
  font-weight: 100;
  text-align: center;
}
.para-container {
  /* background-color: aqua; */
  padding-left: 285px;
  padding-right: 294px;
  padding-top: 20px;
}
.para-container p {
  font-size: 18px;
  color: black;
}
.bottom-heading{
  padding-top: 15px;
  font-weight: normal;
  padding-left: 300px;
  font-size: 2.1vw;
}
.para-container2 {
  padding-left: 285px;
  padding-right: 294px;
  padding-top: 20px;
}
.para-container2 p {
  font-size: 18px;
  color: black;
}
.heading3 {
  padding-top: 15px;
  font-weight: normal;
  padding-left: 300px;
  font-size: 2.1vw;
}
.para-container3 {
  padding-left: 285px;
  padding-right: 294px;
  padding-top: 20px;
}
.para-container3 p {
  font-size: 18px;
  color: black;
}
.para-container3 ul {
  padding-left: 70px;
  padding-top: 10px;
  font-size: 18px;
}
.values-box {
  display: flex;
  flex-direction: row;
  padding-left: 325px;
  padding-right: 294px;
  padding-top: 20px;
}
.img-box {
  /* background-color: aqua; */
  padding: 15px 25px 10px 10px;
}
.para-container4 p {
  color: black;
  font-size: 19px;
}
.para-container5 {
  padding-left: 285px;
  padding-right: 294px;
  padding-top: 20px;
}
.para-container5 p {
  font-size: 18px;
  color: black;
}
.last-img-box1 {
  padding: 0px 342px;
}
.last-img-box1 img {
  width: 4vw;
}
.last-img-box2 {
  padding-left: 70%;
  margin: -20px 0px;
}
.last-img-box2 img {
  width: 4vw;
}
.sub-heading2 {
  font-size: 2.4vw;
  font-style: italic;
  margin: 20px 316px;
  text-align: center;
  font-weight: 500;
}
span {
  padding-left: 45%;
  font-size: 20px;
  font-style: italic;
}
.para-container6 {
  padding-left: 285px;
  padding-right: 294px;
  /* padding-top: 20px; */
}
.para-container6 p {
  font-size: 18px;
  color: black;
}
.last-para {
  padding-left: 285px;
  padding-right: 294px;
  padding-bottom: 100px;
}
.last-para p {
  font-size: 18px;
}
.last-impact {
  background-color: #2cd28d;
  padding: 80px 0px;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  color: #174b2f;
  font-size: 1.8vw;
  padding-left: 47px;
}
.box1 h2 {
  font-weight: 100;
}
.box2 {
  padding-right: 50px;
}
.impact-button {
  background-color: white;
  padding: 15px 35px;
  border-radius: 0px 20px;
  cursor: pointer;
}
.impact-button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* Mobile */
/* @media (max-width:600px) {
  .main-heading{
    width: 350px;
  height: 45px;
  margin: 38px 20px 20px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  }
  .img-box1{
    padding: 5px 26px;
  }
  .img-box1 img{
    width: 10vw;
  }
  .img-box2{
    padding-left: 230px;
  }
  .img-box2 img{
    width: 10vw;
  }
  .sub-heading{
    width: 350px;
    height: 150px;
    margin: 0 0 -16.2px;
    font-family: PTSerif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.36;
    letter-spacing: 0.41px;
    text-align: center;
    color: #000;
  }
  .para-container{
    width: 350px;
    height: 196px;
    margin: 19.7px 20px 20px;
    font-family: PTSerif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.2px;
    color: #000;
  }
  
} */
/* Tab */
/* @media (max-width:921px) {
  .sub-heading{
    font-size: 2.4vw;
    font-style: italic;
    margin: 8px 230px;
    font-weight: 100;
    text-align: center
  }
  .img-box1 {
    display: flex;
    padding: 5px 260px;
}
.para-container{
  padding-left: 165px;
    padding-right: 111px;
    padding-top: 20px;
}
.bottom-heading {
  padding-top: 15px;
  font-weight: normal;
  padding-left: 165px;
  font-size: 2.1vw;
}
} */