.Main-container {
  display: flex;
  margin: 3rem 0;
  padding-bottom: 5rem;
}
.Mission-container {
  /* background-color: antiquewhite; */
  width: 780px;
}
.heading-box1 {
  /* width: 20%; */
  width: 1440px;
  height: 3854px;
  background-color: #fff;
}
.left-img {
  margin-top: 16rem;
  width: 241px;
  height: 280px;
  margin-left: -0.5rem;
}
.right-img {
  margin-top: 0rem;
  width: 241px;
  margin-left: 9px;
  height: 280px;
}
.main-heading {
  font-size: 3.8vw;
  text-align: center;
  font-weight: normal;
  padding-top: 90px;
}
.img-box1 {
  display: flex;
  padding: 6px 35px;
}
.img-box2 {
  display: flex;
  padding-left: 80%;
}
.img-box1 img {
  width: 4vw;
}
.img-box2 img {
  width: 4vw;
}
.sub-heading {
  font-size: 2.4vw;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}
.para-container {
  padding-top: 20px;
}
.para-container p {
  font-size: 18px;
  color: black;
}
.bottom-heading {
  padding-top: 15px;
  font-weight: normal;
  font-size: 2.1vw;
}
.para-container2 {
  padding-top: 20px;
}
.para-container2 p {
  font-size: 18px;
  color: black;
}
.heading3 {
  padding-top: 15px;
  font-weight: normal;

  font-size: 2.1vw;
}
.para-container3 {
  padding-top: 20px;
}
.para-container3 p {
  font-size: 18px;
  color: black;
}
.para-container3 ul {
  padding-top: 10px;
  font-size: 18px;
}
.values-box {
  display: flex;
  flex-direction: row;

  padding-top: 20px;
}
.img-box {
  padding: 15px 25px 10px 10px;
}
.para-container4 p {
  color: black;
  font-size: 19px;
}
.para-container5 {
  padding-top: 20px;
}
.para-container5 p {
  font-size: 18px;
  color: black;
}
.last-img-box1 {
  padding: 0px 40px;
}
.last-img-box1 img {
  width: 4vw;
}
.last-img-box2 {
  margin: -10px 410px;
}
.last-img-box2 img {
  width: 4vw;
}
.sub-heading2 {
  font-size: 2.4vw;
  font-style: italic;
  /* margin: 20px 316px; */
  text-align: center;
  font-weight: 500;
}
span {
  padding-left: 45%;
  font-size: 20px;
  font-style: italic;
}
.para-container6 {
  padding-bottom: 10px;
}
.para-container6 p {
  font-size: 18px;
  color: black;
}
.last-para {
  padding-bottom: 100px;
}
.last-para p {
  font-size: 18px;
}
.last-impact {
  background-color: #2cd28d;
  padding: 80px 0px;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  color: #174b2f;
  font-size: 1.8vw;
  padding-left: 47px;
}
.box1 h2 {
  font-weight: 100;
}
.box2 {
  padding-right: 50px;
}
.impact-button {
  background-color: white;
  padding: 15px 35px;
  border-radius: 0px 20px;
  cursor: pointer;
}
.impact-button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* Mobile */
@media (max-width: 600px) {
  .main-heading {
    width: 407px;
    height: 45px;
    /* margin: 38px 20px 20px; */
    font-family: Poppins;
    font-size: 11vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
  .left-img {
    display: none;
  }
  .right-img {
    display: none;
  }
  .img-box1 {
    padding: 12px 26px;
  }
  .img-box1 img {
    width: 10vw;
  }
  .img-box2 {
    padding-left: 320px;
  }
  .img-box2 img {
    width: 10vw;
  }

  .sub-heading {
    height: 150px;
    margin: 0px 9px 0px 19px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.36;
    letter-spacing: 0.41px;
    text-align: center;
    color: #000;
  }
  .para-container {
    width: 350px;

    margin: 19.7px 20px 20px;

    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.2px;
    color: #000;
  }
  .bottom-heading {
    font-size: 5.9vw;
    padding-left: 30px;
  }
  .para-container p {
    font-size: 15px;
    margin: -41px px -25px 0 0;
  }
  .para-container2 {
    padding-left: 20px;
  }
  .para-container2 p {
    font-size: 16px;
  }
  .heading3 {
    font-size: 5.9vw;
    padding-left: 30px;
  }
  .para-container3 {
    padding-left: 20px;
  }
  .para-container3 p {
    font-size: 16px;
  }
  .para-container3 ul {
    padding-left: 30px;
  }
  .values-box {
    display: flex;
    flex-direction: column;
  }
  .img-box img {
    width: 100%;
    margin: 20px;
  }
  .para-container4 {
    padding-left: 20px;
  }
  .para-container4 p {
    font-size: 16px;
  }
  .para-container5 {
    padding-left: 20px;
  }
  .para-container5 p {
    font-size: 16px;
  }
  .para-container6 {
    padding-left: 20px;
  }
  .para-container6 p {
    font-size: 16px;
  }
  .last-para {
    padding-left: 20px;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .last-img-box1 img {
    width: 10vw;
  }
  .last-img-box2 {
    margin: 0px 280px;
  }
  .last-img-box2 img {
    width: 10vw;
  }
  .sub-heading2 {
    margin: 0px 9px 0px 19px;

    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.36;
    letter-spacing: 0.41px;
    text-align: center;
    color: #000;
  }
  span {
    padding-left: 35%;
  }
  .box2 h2 {
    font-size: 30px;
  }
  .last-impact {
    padding: 35px 0px;
  }
  .impact-button {
    padding: 20px 65px;
  }
  .box2 {
    padding: 45px 45px;
  }
}
/* Tab */
@media (max-width: 998px) {
  .navbar {
    padding: 1.2rem 9rem 0.2rem 2rem;
  }

  .left-img {
    margin-top: 8rem;
    width: 225px;
    height: 280px;
  }
  .right-img {
    margin-top: 0px;
    width: 265px;
    height: 280px;
  }
  .Mission-container {
    width: 388px;
  }
  .last-impact {
    width: 107%;
  }
  .footer {
    width: 100%;
  }
}
